<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria duGordo</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: fuchsia;
            color: #dbd8d7;            
        }
        header{
            background-color:lightskyblue;
            color:white;
            text-align: center;
        }
    </style>
</head>

<body>
    <header>
        <h1>Pizzaria duGordo</h1>
        <h2>Nosso Cardápio</h2>
    </header>

    <div>
        <h3>Marguerita</h3>
        <p>Molho de Tomate, Mussarela, Manjericão e Tomate Seco</p>
    </div>

    <div>
        <h3>Pepperoni</h3>
        <p>Molho de Tomate, Mussarela, Pepperoni e Orégano</p>
    </div>

    <div>
        <h3>Calabresa</h3>
        <p>Molho de Tomate, Mussarela, Calabresa</p>
    </div>

    <div>
        <img src="4queijos.jpg" alt="Imagem Sabor 4 Queijos">
        <h3>4 Queijos</h3>
        <p>Molho de Tomate, Mussarela, Gorgonzola, Parmesão, Catupiry</p>
    </div>


    
</body>
</html>