<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro {{ codigo }}</title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body class="erro-page">
    <header>
        <nav><a href="/">Início</a></nav>
    </header>
    <main class="erro-container">
        <div class="banner">
            <img src="{{ url_for('static', filename='img/duGordo.jpg') }}" alt="Pizzaria DuGordo - As melhores pizzas">
        </div>

        
        <h1>Erro {{ codigo }}</h1>
        <p>{{ mensagem }}</p>

    </main>

    
</body>
</html>