<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizzaria DuGordo</title>
</head>
<body>
    <header>
        <nav><a href="/">Início</a><a href="/cardapio">Cardápio</a></nav>
    </header>
    <main>
        <div class="banner">
            <img src="" alt="Logo da Pizzaria DuGordo">
        </div>

        <div class="boasvindas">
            <p>Melhor pizza da cidade</p>
        </div>
    </main>
</body>
</html>